In [1]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\prath\OneDrive\Desktop\Pandas\Galaxy_Classification_Cleaned.csv"
df = pd.read_csv(file_path)

# Display first few rows to check column names
df.head()

,Column2,alpha,delta,ultra,green,red,n_infra,infra,redshift
0,1.240000e+18,135.689107,32.494632,0.646944,0.507117,0.485176,0.416993,0.427144,0.804958
1,1.240000e+18,144.826101,31.274185,0.705201,0.536529,0.608004,0.523142,0.579719,1.349944
2,1.240000e+18,142.188790,35.582444,0.736669,0.527652,0.497224,0.426686,0.435504,0.840452
3,1.240000e+18,338.741038,-0.402828,0.534030,0.586451,0.553428,0.487965,0.451832,1.928409
4,1.240000e+18,345.282593,21.183866,0.359043,0.259008,0.266523,0.247961,0.251387,-1.153359

In [3]:
# Drop the column
df = df.drop(columns=['Column2'], errors='ignore')

# Verify if the column is removed
print(df.head())

        alpha      delta     ultra     green       red   n_infra     infra  \
0  135.689107  32.494632  0.646944  0.507117  0.485176  0.416993  0.427144
1  144.826101  31.274185  0.705201  0.536529  0.608004  0.523142  0.579719
2  142.188790  35.582444  0.736669  0.527652  0.497224  0.426686  0.435504
3  338.741038  -0.402828  0.534030  0.586451  0.553428  0.487965  0.451832
4  345.282593  21.183866  0.359043  0.259008  0.266523  0.247961  0.251387

   redshift
0  0.804958
1  1.349944
2  0.840452
3  1.928409
4 -1.153359

In [5]:
# Save the cleaned dataset
df.to_csv(r"C:\Users\prath\OneDrive\Desktop\Pandas\Galaxy_Classification_Cleaned_Updated.csv", index=False)